.hero {
  height: 40%;
  display: flex;
  width: 100%;
  background-color: rgb(238, 222, 238);
  flex-wrap: wrap;
}



.left {
    
  width: 50%;
  display: flex;
  gap: px;
  justify-content: center;
  align-items: center;
 
}
.right {
 
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left p {
  gap: 20px;
  font-size: xx-large;
}
.hand {
  height: 60px;
}
.col_button {
  background-color: rgb(135, 18, 18);
  height: 50px;
  width: 200px;
}
@media(max-width:600px){
  .hero {
   display: flex;
   flex-flow: column-reverse;

  }
  .left{
    width: 100%;
  margin: 10px;

height: 90%;
gap: 10px;
  }
  .left h1{
    font-size: larger;
    font-weight: 600;
    font-style: bold;
  }
  .right{
    width: 100%;
  
    
  }
  
  
}